{% extends 'manufactur/base.html' %}
{% load bootstrap4 %}
{% block title %}
    {% if operation %}{{ operation.name }}{% else %}Заказы{% endif %}
{% endblock %}
{% block content %}
    <br>
    <h3>Заказы</h3>
  <ul class=" nav nav-tabs navbar-expand-lg">
     <li class="nav-item justify-content-center">
        <a {% if not operation %}class="nav-link active lh-sm" {% else %} class="nav-link"{% endif %} href="{% url 'orders:order_list' %}">Все заказы</a>
     </li>
      {% for o in operations %}
          <li class="nav-item">
              <a {% if operation.slug == o.slug %} class="nav-link active" {% else %} class="nav-link"{% endif %} href="{{ o.get_absolute_url }}">{{ o.name }}</a>
          </li>
      {% endfor %}
  </ul><br>
<div class="container">
    <div class="row g-2 " >
        <div class="col">
            <div class="p-4 border bg-light">
                <div class="container overflow-hidden text-center font-weight-bold">
                  <div class="row g-0">
                     <div class="col border-right-0">
                     <div class="w-100 p-2 border-right-0">Номер партии</div>
                    </div>
                      <div class="col">
                      <div class="w-100 p-2 border-right border-left  bg-light">Операция</div>
                    </div>
                      <div class="col">
                      <div class="w-100 p-2 border-right border-left bg-light">Кабель</div>
                    </div>
                      <div class="col">
                      <div class="w-100 p-2 border-right border-left bg-light">Метраж</div>
                    </div>
                      <div class="col">
                      <div class="w-100 p-2 border-right border-left bg-light">Дата завершения</div>
                    </div>
                      <div class="col">
                      <div class="w-100 p-2 border-left-0 bg-light">На стеллаж</div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
</div>

{% for order in orders %}
{% with order_id=order.id  shelf_get_id=shelf.get_id %}
<div class="container">
    <div class="row  g-2 " >
        <div class="col">
            <div class="p-1 border bg-light">
                <div data_id="{{ order_id }}"{% if order_id in shelf_get_id %} class="container-fluid overflow-hidden text-center text-success" {% else %} class="container-fluid overflow-hidden text-center" {% endif %}>
                  <div class="row no-gutters g-0">
                    <div class="col">
                     <div class="p-2 bg-light"><a target="_blank" href="{{ order.get_absolute_url }}"
                          onclick="window.open(this.href,this.target,'width=500,height=600,scrollbars=1');return false;">{{ order.batch_number }}</a></div>
                    </div>
                    <div class="col">
                      <div class="p-2 bg-light">{{ order.operation }}</div>
                    </div>
                    <div class="col">
                     <div class="p-2 bg-light"><a target="_blank" href="{% url 'orders:order_log' order_id %}"
                         onclick="window.open(this.href,this.target,'width=1200,height=600,scrollbars=1');return false;">
                         {{ order.plastic }} {{ order.design }} {{ order.purpose }} {{ order.cores }}x{{ order.crosssection }}</a></div>
                    </div>
                    <div class="col">
                     <div class="p-2 bg-light">{{ order.footage }}</div>
                    </div>
                    <div class="col">
                     <div class="p-2  bg-light">{{ order.completion }}</div>
                    </div>
                    <div class="col-inline col">
                     <div class="p-2  bg-light">
                         <input class="shelf"
                          		type="button"
								data_id="{{ order_id }}"
						   		data-id="{{ order_id }}"
								data-action="{% if order_id in shelf_get_id %}un{% endif %}add"
								value="{% if order_id in shelf_get_id %}Удалить{% else %}В работу{% endif %}">
                     </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endwith %}
{% endfor %}<br>
{% bootstrap_pagination page_obj extra=request.GET.urlencode %}
{% endblock %}
{% block domready %}
	// order lost
	$('div.p-2 input[type="button"]').click(function (e) {
				e.preventDefault();
            	$.post('{% url "shelf:shelf_add" %}',
                	{
                    	id: $(this).data('id'),
                    	action: $(this).data('action')
					},
					function (data) {
						if (data['status'] === 'ok') {
							let order_id = data['order'];
                            let input_order = $(`input[data_id=${order_id}]`);

                            // container order color text
                            let previous_action = input_order.data('action');
							$(`div[data_id=${order_id}]`).addClass(
                                previous_action === 'add' ? 'text-success' : "text-warning").removeClass(
                                previous_action === 'add' ? 'text-warning' : 'text-success');

							//toggle data-action
							input_order.data('action',
							previous_action === 'add' ? 'unadd' : 'add');

                            // toggle button value
                            input_order.val(
                            previous_action === 'add' ? 'Удалить' : 'В работу');

                            // update total order in shelf
                            let count_orders_shelf = $('div i')
                            let previous_orders = parseInt(count_orders_shelf.text());
                            count_orders_shelf.text(previous_action === 'add' ? previous_orders + 1 : previous_orders - 1)
						}
					}
				);
			});
{% endblock %}