{% extends 'manufactur/base.html' %}
{% block title %}{{ operation }}{% endblock %}
{% block content %}
	<div class="container p-2">
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-success d-flex justify-content-center alert-dismissible" role="alert">
					{{ message|safe }}
				</div>
			{% endfor %}
		{% endif %}
	</div>
    <h3>Операции</h3>
	<h4>Заказы на {{ operation.name }}</h4>
  <ul class="nav nav-tabs">
      {% for o in operations %}
          <li class="nav-item">
              <a {% if operation.slug == o.slug %} class="nav-link active" {% else %} class="nav-link"{% endif %} href=" {% url 'orders:order_p_list' o.slug %}">{{ o.name }}</a>
          </li>
      {% endfor %}
  </ul><br>
 <table class="table table-striped align-middle table-responsive-md table-hover text-center shelf">
  <thead>
    <tr>
	  <th scope="col">Номер партии</th>
      <th scope="col">Кабель</th>
      <th scope="col">Операция</th>
      <th scope="col">Метраж</th>
      <th>Выбор</th>
      {% if operation.slug in ITERATION_OPERATIONS %}
      <th scope="col">Сделано катушек</th>
      {% else %}
      <th scope="col">Сделано метров</th>
      {% endif %}
      <th scope="col">Комментарий</th>
    </tr>
  </thead>
  <tbody>
  {% for order in orders_in_prod %}
    <tr>
      <th scope="row">{{ order.order.batch_number }}</th>
	  <td>
		 <a target="_blank" href="{% url 'orders:order_log' order.order.id %}" onclick="window.open(this.href,this.target,'width=1200,height=600,scrollbars=1');return false;">
			{{ order.order.plastic }} {{ order.order.design }} {{ order.order.purpose }} {{ order.order.cores }}x{{ order.order.crosssection }}
		 </a>
	  </td>
      <td>{{ operation }}</td>
      <td>{{ order.order.footage }}</td>
	  {% if operation.slug == 'gruboe-volochenie' %}
	  <td ><a class="link_button" href="{% url 'orders:order_p_id' operation.slug order.id 0 0 %}">Заказ в производство</a></td>
	  {% else %}
      <td ><a class="link_button" href="{% url 'orders:order_prod_detail' operation.slug  order.id%}">Заказ в производство</a></td>
	  {% endif %}
      <td>Сделано{% if order.count_tara %} {{ order.count_tara }}  {% else %} 0 {% endif %} из
          {% if operation.slug in ITERATION_OPERATIONS %}
            {{ order.order.cores }}
          {% else %}
            {{ order.order.footage }} м.
          {% endif %}
          </td>
      <td>{{ order.comment }}</td>
    </tr>
    {% endfor %}
  </tbody>
 </table>
{% endblock %}