{% extends 'manufactur/base.html' %}
{% block title %}{{ operation }}{% endblock %}
{% block content %}
    <br>
    <h3 class="">Операция {{ operation }}</h3>
	{% with order=order_prod.order %}
	    <h4>Заказ №{{ order.batch_number }} {{ order.plastic }} {{ order.design }} {{ order.purpose }} {{ order.cores }}x{{ order.crosssection }} {{ order.footage }}м.</h4>
	{% endwith %}
	{% with operation=operation.slug  %}
		{% if operation in ITERATION_OPERATIONS %}
			{% include "orders/detail_operation_iteration.html" %}
		{% elif operation in LINE_OPERATIONS or operation in BUHTOVKA %}
			{% include "orders/detail_operation_line.html" %}
		{% endif %}
	{% endwith %}

{% endblock %}