{% extends 'manufactur/base.html' %}
{% block title %}
    {{ order }}
{% endblock %}
{% block content %}
    <div class="container overflow-hidden text-center">
        <div class="row">
            <div class="col">
                {{ order.batch_number }}
            </div>
            <div class="col">
                {{ order.plastic }} {{ order.design }} {{ order.purpose }} {{ order.cores }}x{{ order.crosssection }}
            </div>
            <div class="col">
                {{ order.footage }}
            </div>
            <div class="col">
                {{ order.operation }}
            </div>
            <div class="col">
                {{ order.created }}
            </div>
            <div class="col">
                {{ order.updated }}
            </div>
        </div>
    </div>
{% endblock %}