{% extends 'manufactur/base.html' %}
{% load bootstrap4 %}
{% block title %}
    Авторизация
{% endblock %}
{% block content %}
<div class="text-center"><br><br>
    <h1>Авторизация</h1>
    <p>Введите логин и пароль</p>
    <div class="block_action form-filter">
        <form  action="." method="post">
            {% csrf_token %}
            {% bootstrap_field form.username %}
            {% bootstrap_field form.password %}
            {% bootstrap_button content="Вход" button_type="submit" button_class="btn btn-outline-dark" size="md" %}

        </form>
    </div>
</div><br><br>
    <h4 class="text-muted ml">Вы также можете <a href="{% url 'manufactur:register' %}">зарегистрироватся</a></h4>
{% endblock %}