{% load static %}
{% load pluralize %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" data-id="admin" href="/admin" target="_blank">
      <img src="{% static 'image/logo.png' %}" alt="logo" width="30" height="30" loading="lazy" class="d-inline-block align-top">
  ЗАВОД</a>
<div class="text-center"></div>
  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" data-id="main" href="{% url 'manufactur:manufacture' %}">Главная<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a {% if request.user.is_staff %}class="nav-link text-dark" href="{% url 'orders:orders_finish' %}" {% else %}class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"{% endif %} data-id="finish_orders">Выполненные заказы</a>
      </li>
      <li class="nav-item">
        <a {% if request.user.is_active %}class="nav-link text-dark" href="{% url 'orders:order_p_list' shelf.get_link %}" {% else %}class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"{% endif %} data-id="orders_in_prod">Заказы в работу</a>
      </li>
      <li class="nav-item">
        <a {% if request.user.is_staff %}class="nav-link text-dark" href="{% url 'orders:order_list' %} " {% else %}class="nav-link disabled"  tabindex="-1" aria-disabled="true"{% endif %}  data-id="orders">Заказы</a>
      </li>
      <li class="nav-item">
        <div class="dropdown">
        <button {% if request.user.is_staff %} class="btn btn-light dropdown-toggle"{% else %} type="button" class="btn btn-light dropdown-toggle disabled"{% endif %} id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Операторы
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{% url 'manufactur:list_users' %}">Все смены</a>
        <a class="dropdown-item" href="{% url 'manufactur:team_list_user' '1' %}">Смена 1</a>
        <a class="dropdown-item" href="{% url 'manufactur:team_list_user' '2' %}">Смена 2</a>
        <a class="dropdown-item" href="{% url 'manufactur:team_list_user' '3' %}">Смена 3</a>
        <a class="dropdown-item" href="{% url 'manufactur:team_list_user' '4' %}">Смена 4</a>
  </div>
</div>
      </li>
      <li class="nav-item">
        <div {% if request.user.is_staff %}class="nav-link text-dark" {% else %}class="nav-link disabled"  tabindex="-1" aria-disabled="true"{% endif %} >
            {% with total_items=shelf|length %}
                {% if shelf|length > 0 %}
                    Стеллаж:
                    <a class="text-dark" data-id="shelf" href="{% url 'shelf:shelf_detail' %}">
                        {{ total_items }} {{ total_items|rupluralize }}
                        на {{ shelf.get_total_time }}
                    </a>
                {% else %}
                    Стеллаж пустой
                {% endif %}
            {% endwith %}
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Поиск">
      <button class="btn btn-outline-success my-2 my-sm-0" data-id="search" type="submit">Поиск</button>
    </form>
  <ul class="navbar-nav ml-auto ml-100 mt-lg-0">
      <li class="nav-item">
        {% if request.user.is_authenticated %}
        <span class="nav-link">На смене<a class="text-dark" href="#" > {{ request.user.first_name }}</a></span>
      </li>
      <li class="nav-item">
          <a class="nav-link" data-id="exit" href="{% url 'manufactur:logout' %}">Выход</a>
      </li>
      <li class="nav-item">
        {% else %}
            <a class="nav-link" data-id = 'login' href="{% url 'manufactur:login' %}">Вход</a>
      </li>
        {% endif %}
  </ul>
  </div>
  </div>
</nav>
  <div id="content" class="">
     {% block content %}{% endblock %}
  </div>
<footer class="footer">
    <div class="container">
        <span class="text-muted">Сделай остановку производства с целью решения проблем частью производственной культуры, если того требует качество</span>
    </div>
</footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>